body{
    background-color: lightgoldenrodyellow;
}

img{
    height: 450px;
    width: 450px;
    border-radius: 10px;
}

.pie{
    border: 2px solid black;
    border-radius: 5px;
    margin: 1%;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    background-color: ghostwhite;
    height: 700px;
    width: 30%;
}

#pie-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header{
    font-weight: bold;
    font-size: 2em;
}